---
import Layout from "../layouts/Layout.astro";
import {LoginForm} from '../components/common/LoginForm.jsx'
---

<Layout>
    <h1>Login on Console.Blog!</h1>
    <LoginForm client:load />
</Layout>