---
import Layout from "../layouts/Layout.astro";
import { LoginForm } from '../components/LoginForm.jsx'
import { fetchData } from "../utils/utils";

const cookies = Astro.request.headers.get('cookie') || '';
const user = await fetchData('/api/users/authUser', 'GET', {Cookie: cookies});

if(user.success){
    return Astro.redirect('/');
}
---

<Layout>
    <h1>Login on Console.Blog!</h1>
    <LoginForm client:load />
</Layout>