---
import { RegisterForm } from "../components/RegisterForm";
import Layout from "../layouts/Layout.astro";
import { fetchData } from "../utils/utils";

const cookies = Astro.request.headers.get('cookie') || '';
const user = await fetchData('/api/users/authUser', 'GET', {Cookie: cookies});

if(user.success){
    return Astro.redirect('/');
}
---

<Layout>
    <h1 class="text-3xl mt-4 mb-4 text-center">Registrarse</h1>
    <RegisterForm client:load />
</Layout>