---
import { RegisterForm } from "../components/RegisterForm";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>SingUp on Console.Blog!</h1>
    <RegisterForm client:load />
</Layout>