<header class="flex justify-around items-center p-4">
    <p class="text-xl">Console.Blog()</p>
    <div class="flex gap-4">
        <a href="/login" class="bg-cyan-500 p-2 rounded">Iniciar Sesion</a>
        <a href="/register" class="bg-cyan-500 p-2 rounded">Registrarse</a>
    </div>
</header>