---
import { HeaderBtns } from './common/HeaderBtns'
---

<header class="flex justify-around items-center p-4">
    <p class="text-xl">Console.Blog()</p>
    <div class="flex gap-4">
        <HeaderBtns client:load />
    </div>
</h>